/* =========================
   RESET / NORMALIZE
   ========================= */

/* Box sizing global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Suppression des marges par défaut */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
blockquote {
    margin: 0;
    padding: 0;
}


/* Base typographique */
body {
    font-family: 'Inter', sans-serif;
    color: #292929;
    background-color: #F5F3EF; /* Gris clair maquette */
}

/* Listes sans styles */
ul,
ol {
    list-style: none;
}

/* Liens neutres */
a {
    color: inherit;
    text-decoration: none;
}

/* Images fluides */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Formulaires cohérents */
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* Boutons propres */
button {
    border: none;
    background: none;
    cursor: pointer;
}
